@model Guid
@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-body">
        <h4 class="modal-title">Are you sure you want to delete the advert?</h4>
    </div>
    <div class="modal-footer">
        <form method="post" asp-controller="home" asp-action="DeleteModal">
            <button class="btn" data-dismiss="modal">No</button>
            <input name="advertId" value="@Model" type="hidden" class="form-control" />
            <input class="btn btn-danger" type="submit" value="Yes" />
        </form>
    </div>
</div>