@model EditViewModel
@{
    ViewBag.Title = "Editing Advertisement";
}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <h2>@ViewData["Title"]</h2>
        <form asp-action="Edit" asp-controller="Home" method="post" enctype="multipart/form-data">
            <input asp-for="AdvertId" type="hidden" />
            <p>
                <label>Content</label>
                @Html.ValidationMessage("Content", new { @class = "text-danger" })
                <textarea name="Content" asp-for="Content" class="form-control" rows="5"></textarea>
            </p>
            <p>
                <label>Image</label>
                <img class="img img-responsive" id="image" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.ImageByte))" alt="" />
                <input type="hidden" name="ImageByte" asp-for="ImageByte" />
                <input name="Image" asp-for="Image" type="file" id="imgInput" class="form-control" />
            </p>
            <p>
                <input type="submit" value="Edit" />
            </p>
        </form>
    </div>
    <div class="col-md-7"></div>
</div>