@model EditViewModel
@{
    ViewBag.Title = "Editing Advertisement";
}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <h2>@ViewData["Title"]</h2>
        <form asp-action="Edit" asp-controller="Home" method="post" enctype="multipart/form-data">
            <input asp-for="AdvertId" type="hidden" />
            <p>
                <label>Content</label>
                @Html.ValidationMessage("Content", new { @class = "text-danger" })
                <textarea name="Content" asp-for="Content" class="form-control" rows="5"></textarea>
            </p>
            <p>
                <label>Image</label>
                <a id="imageA" href="@Url.Action("Img", "Home", new {image = Model.ImageUrl})" data-lightbox="image">
                    <img id="image" class="img-thumbnail" src="@Url.Action("Img", "Home", new {image = Model.ImageUrl})" alt="" />
                </a>
                <br>
                <input type="hidden" name="ImageByte" asp-for="ImageUrl" />
                <input name="Image" asp-for="Image" type="file" accept="image/*" id="imgInput" class="form-control" />
            </p>
            <p>
                <input type="submit" value="Edit" />
            </p>
        </form>
    </div>
    <div class="col-md-7"></div>
</div>