@*@model byte[]
@{
    Layout = null;
}
<div class="modal-content">
    <div class="modal-body">
        <h4 class="modal-title">Image</h4>
        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model))" />
    </div>
</div>*@

@*@model Guid*@
@{
    Layout = null;
}
<div class="modal-content">
    <div class="modal-body">
        <h4 class="modal-title">Image?</h4>
        <img class="img-rounded" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model))" />
    </div>
    <div class="modal-footer">
        <a class="btn btn-secondary" data-dismiss="modal">No</a>
        @*@using (Html.BeginForm("DeleteModal", "Home", FormMethod.Post))
            {
                <input asp-for="ToString()"/>
                <button type="submit">Yes</button>
            }*@
    </div>
</div>